@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container pb-5 mb-5">
    <div class="row pt-5 mb-10">
        <div class="col">
            <div class="text-left">
                <p id="main_text" class="">Policy</p>
            </div>
            <div class="text-left">
                <p id="additional_text_zag" class="">
                    Data privacy is important to Skillap and its related
                    entities in your jurisdiction. This Privacy Policy provides an overview of the personal information EasyPeasy
                    collects and how it is protected during your visit to easypeasy.com or other EasyPeasy websites that link to our Privacy Policy.
                    The primary purpose of our Websites is to be an informative resource and business tool to help you manage and improve business performance.
                    We want you to feel secure when visiting our Websites and are committed to maintaining your privacy when doing so.
                </p>

            </div>
            <div class="text-left">
                <p id="main_text" class="">How we collect information on our websites</p>
            </div>
            <div class="text-left">
                <p id="additional_text_zag">
                    We either collect your information directly, when you provide information on various pages of our website
                    forms or indirectly through our websites technology. One example of information we collect indirectly is through our
                    Internet access logs. As is true of most websites, we gather certain information automatically. This information may
                    include internet protocol (IP) addresses, browser type, internet service provider (ISP), referring /exit pages, the files
                    viewed on our site (e.g., HTML pages, graphics, etc.), operating system, date/time stamp, and/or clickstream data to analyze
                    trends in the aggregate and administer the site. <br /> <br />

                    EasyPeasy and its partners use cookies or similar technologies to analyze trends, administer the website, track users’
                    movements around the website, and to gather demographic information about our user base as a whole. You can control the use of
                    cookies at the individual browser level, but if you choose to disable cookies, it may limit your use of certain features or
                    functions on our website or service. <br /> <br />

                    We partner with third parties to either display advertising on our Websites or to manage our advertising on other sites.
                    Our third party partner may use technologies such as cookies to gather information about your activities on this site and other
                    sites in order to provide you advertising based upon your browsing activities and interests. If you wish to not have this information
                    used for the purpose of serving you interest-based ads, you may learn more about how to opt-out by clicking here if you are located in
                    the European Union or North America. Please note this does not opt you out of being served all ads. You will continue to receive
                    generic ads. <br /> <br />

                    We also collect information when you voluntarily submit it to us such as your first name, last name, email address, phone number,
                    job title and company name. Throughout our websites, we provide the opportunity to register for an event or conference, order a white
                    paper, or participate in an online survey. When we collect this type of information, we will notify you as to why we are asking for
                    information and how this information will be used. It is completely up to you whether or not you want to provide it. <br /> <br />

                    We may occasionally send newsletters or marketing communications out to those who have registered at our Websites, including
                    our users. We provide you the opportunity to opt out of such emails by following the directions provided in these emails. <br />
                </p>
            </div>
        </div>
    </div>
</div>