@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authService

@{
    ViewData["Title"] = "My Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="menu position-absolute">
                    @if (User.IsInRole("Teacher"))
                    {
                        <p class="menu-label">Menu</p>
                        <ul class="menu-list">
                            <li><a asp-controller="Account" asp-action="EditProfile">Edit Profile</a></li>
                            <li><a asp-page="/Account/MySubjects">My Subjects</a></li>
                            <li><a asp-page="/Account/MyMarks">My Marks</a></li>
                            <li><a asp-page="/Account/Schedule">My Schedule</a></li>
                        </ul>
                    }

                    @if (User.IsInRole("Student"))
                    {
                        <p class="menu-label">Menu</p>
                        <ul class="menu-list">
                            <li><a asp-page="/Admin/ConfigureStudents">Configure Students</a></li>
                            <li><a asp-page="/Admin/ConfigureTeachers">Configure Teachers</a></li>
                        </ul>
                    }
                    <p class="menu-label"></p>
                    <ul class="menu-list">
                        <li><a asp-page="/Index">Back to Main</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                @RenderBody()
            </div>
        </div>
    </div>*@

<div class="row pb-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs nav-fill">

                    @if (User.IsInRole("Admin"))
                    {

                        <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="MyAccount">Edit Profile</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Logic" asp-action="ManageUsers">Manage Users</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Logic" asp-action="ManageMasterClasses">Manage MasterClasses</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Logic" asp-action="Masters">Choose Masters</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Logic" asp-action="ManageMasters">Manage Masters</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Logic" asp-action="Tag">Create Tag</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Logic" asp-action="ManageTags">Manage Tags</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Logic" asp-action="Post">Create Post</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Logic" asp-action="ManagePosts">Manage Posts</a></li>

                    }

                </ul>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)

    <script>
    $(function () {
        var current = location.pathname;
        $('.nav-tabs li a').each(function () {
            var $this = $(this);
            if (current.indexOf($this.attr('href')) !== -1) {
                $this.addClass('active');
            }
        })
    })
    </script>


}