@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row pb-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs nav-fill">

                    @if (User.IsInRole("User"))
                    {
                        <li class="nav-item"><a id="main_text_authorization" class="nav-link" asp-controller="Account" asp-action="ChangePassword">Change Your Password</a></li>
                    }

                </ul>
            </div>

            <div class="card-body">
                <div class="container">
                    <div class="row">

                        <div class="col">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)

    <script>
    $(function () {
        var current = location.pathname;
        $('.nav-tabs li a').each(function () {
            var $this = $(this);
            if (current.indexOf($this.attr('href')) !== -1) {
                $this.addClass('active');
            }
        })
    })
    </script>


}
