@model Skillap.MVC.ViewModels.EditMasterClassViewModel

@{
    ViewData["Title"] = "EditMasterClasses";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>EditMasterClasses</h1>

<h4>EditMasterClassViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditMasterClasses">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" disabled class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Relevance" class="control-label"></label>
                <input asp-for="Relevance" class="form-control" />
                <span asp-validation-for="Relevance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <button asp-action="EditMasterClasses" type="submit" class="btn btn-primary">Update</button>
                <a asp-action="ManageMasterClasses" class="btn btn-primary">Cancel</a>
            </div>


        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
